@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script type="text/javascript">
        
       $(document).ready(()=> {
                    
            const connection = new signalR
            .HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Debug)
            .withUrl("https://localhost:7208/myhub")
            .withAutomaticReconnect([1000, 1000, 3000, 10000]) // tekrar bağlanmayı deneme süreleri. // default: 0, 2, 10, 30
            .build();

            async function start() {
                try {
                    await connection.start();
                    $("#loadingIcon").hide();
                    console.log("SignalR Connected.");
                    
                    connection.invoke("GetNames");
                    

                } catch (err) {
                    console.log(err);
                    setTimeout(start, 5000);
                }
            };
            
            // Start Connection.
            start();
            
            // Reconnecting
            connection.onreconnecting((err) => {
                $("#loadingIcon").show();
                console.log("{onreconnection}: " + err)
            })
            
            // Reconnected
            connection.onreconnected(connectionId => {
                console.log("connectionId: " + connectionId)
                $("#loadingIcon").hide();
            })
            
            // Close 
            connection.onclose(async () => {
                $("#loadingIcon").hide();
                await start();
            });
            
            // Connection Status Viewer
            setInterval(()=> {
                $("#connectionStatus").text(connection.state)
            }, 1000);
            
            // Send Data Connect
            $("#btnSave").click(()=> {
                var value = $("#txtName").val();
                connection.invoke("SendName", value).catch((err) => console.log(err));
            });
            
            // Get Data Connect
            connection.on("ReceiveName", (name) => {
                $("#names").append(`<li class="list-group-item">${name}</li>`);
            });
            
            connection.on("ReceiveNames", (names) => {
                names.forEach((name)=> {
                    $("#names").append(`<li class="list-group-item">${name}</li>`);
                })
            });
            
            connection.on("ReceiveClientCount", (count) => {
                $("#clientCount").text("Bağlı kişi sayısı: " + (count));
            });
            
            connection.on("Notify", (text) => {
                $("#notify").text(text);
            });
            
            connection.on("Error", (text) => {
                $("#notify").text(text);
            });
       });

    </script>

}

<div class="text-center">
    <br/>
    <h1 id="connectionStatus"></h1>
    <h3 id="clientCount"></h3>
    <h3 id="notify"></h3>
    <div class="spinner-border text-primary" role="status" id="loadingIcon">
        <span class="sr-only"></span>
    </div>
    <br/>
    <input id="txtName"/>
    <button id="btnSave">İsim Kaydet</button>

    <hr/>

</div>
<ol class="list-group" id="names">

</ol>